<%= simple_form_for @pokemon do |f| %>
	<div class="row">
		<div class="form-group col-lg-5">

			<div class="form-group col-lg-5">
				<%= f.input :name , label: 'Nom', class: 'form-control' %>
			</div>

			<div class="form-group col-lg-5">
				<%= f.input :level, label: 'Niveau', class: 'form-control' %>
			</div>

			<div class="form-group col-lg-5">
				<%= f.input :number, label: 'Numero' , class: 'form-control' %>
			</div>

			<div class="form-group col-lg-5">
				<%= f.input :health_points, label: 'HP', class: 'form-control' %>
			</div>

			<div class="form-group col-lg-5">
				<%= f.association :type, label: 'Type' , class:'form-control' %>
			</div>

			<div class="form-group col-lg-5">
				<%= f.association :moves, label: 'Attaques' , as: :check_boxes, item_wrapper_tag: :label, item_wrapper_class:'checkbox-inline' %>
			</div>

		</div>	
				<%= f.submit  'Ajouter', class: 'btn btn-primary' %>
			
		
	</div>
<% end %>
