<h1>Liste des Pokemons</h1>



	<table class="table">
		<thead>
			<tr>
				<td>Numéro</td>
				<td>Avatar</td>
				<td>Nom</td>
				<td>Niveau</td>
				<td>Attaques</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>	
			<% @pokemons.each do |pokemon| %>
			<tr>
				<td><%= pokemon.number %></td>
				<% if @pokemons.any? %>
				<td><%= pokemon.name %></td>
				<td><%= pokemon.level %></td>
				<td><%= pokemon.health_points %></td>
				<td>
					<% if pokemon.type.nil? %>
					&empty;
					<% else %>
						<%= type_badge(pokemon.type) %>
					<% end %>					
				</td>
				<td>
					<% render partial: 'moves/moves_list', locals: {moves: pokemon.moves } %>
				</td>

				<!--<td><%= link_to 'Afficher', pokemon_path(pokemon.id) %></td> -->
				<td><% link_to 'Afficher', pokemon, class: 'btn btn-info'%>
				<% link_to 'Editer', edit_pokemon_path(pokemon), class: 'btn btn-warning'%></td>
				<td> 
					<p>	
						<%= link_to 'Ajouter un Pokemon', new_pokemon_path, class: 'btn btn-success'%>
					</p>
					<p>	
						<%= link_to 'Modifier', edit_pokemon_path(pokemon), class: 'btn btn-warning'%>
					</p>
					<p>
						<%= link_to 'Supprimer', pokemon,
						method: :delete,
						data: {
							confirm: 'Êtes vous sûr(e) de vouloir supprimer ce Pokemon ?'
						},
						class: 'btn btn-danger' %>
					</p>
					</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<%= will_paginate @pokemons, renderer: BootstrapPagination::Rails %>

		<% else %>		
			<p> Il n'y a pas de Pokemons</p>
		<% end %>
